@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-nav {
	background-color: #8cadff;
}

.text-dark {
	color: #000066;
}

.nav-link {
	color: #8cadff;
}

.nav-link:hover {
	color: #000;
	background-color: #8cadff;
}
